/**
 * Created by ronanwilliams on 2019-07-30.
 */

.THIS.emailPanel {}

.THIS .row {
    border-bottom: 0.3px solid #d7d7d7;
    position: relative;
}

.THIS .rowGrid {
    display: grid;
    grid-template-columns: 3% 30% 65%;
    padding-bottom: 3px;
    padding-top: 3px;
}

.THIS .detailRow {
    cursor: pointer;
}

.THIS .detailRow:hover {
    background-color: #f4f4f4;
}

.THIS .iframeDiv {
    padding: 5px;
}

.THIS .iframeBody{
    border: 0;
}

